<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Write your paper | Samples</title>

    <!-- Favicon  -->
    <link rel="icon" href="">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/style.css">

    <style>
        .course_btm_bdr {
            list-style: none;
            padding: 0;
        }

        .li_comman {
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

        .comman_a_tag {
            text-decoration: none;
            color: #333;
            display: block;
            padding: 10px;
            position: relative;
        }

        .comman_a_tag:hover {
            background-color: #f5f5f5;
        }

        .comman_a_tag span {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            font-weight: bold;
        }
    </style>

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="south-load"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <div class="top-header-area">
            <div class="h-100 d-md-flex justify-content-between align-items-center">
                <div class="email-address">
                    <a href="mailto:writeyourpaper@hotmail.com">writeyourpaper@hotmail.com</a>
                </div>
                <div class="phone-number d-flex">
                    <div class="icon">
                        <img src="img/icons/phone-call.png" alt="">
                    </div>
                    <div class="number">
                        <a href="https://api.whatsapp.com/send?phone=+919310207461">+91 9310207461</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="classy-nav-container breakpoint-off">
                <nav class="classy-navbar justify-content-between" id="southNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src="/img/logo.png" alt="" width="150px"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/sample">Sample</a></li>
                                        <li><a href="/thesis">Thesis</a></li>
                                        <li><a href="/casestudy">casestudy</a></li>
                                        <li><a href="/research">Research Paper</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img"
        style="background-image: url(https://images.pexels.com/photos/6146973/pexels-photo-6146973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Samples</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">

                        <!-- Search Form -->
                        <form action="/users" method="post" enctype="multipart/form-data" id="advanceSearch">
                            <div class="row">

                                <input type="text" id="username" class="form-control" name="username"
                                    placeholder="Username" required>


                                <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                                    required>



                                <div class="col-12 ">
                                    <div class="row">

                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="form-group">
                                                <select class="form-control" id="types" name="subjects" style="z-index: 999;">
                                                    <option value="">Subjects</option>
                                                    <option value="marketing">Marketing</option>
                                                    <option value="business">Business</option>
                                                    <option value="IT">Information Technology</option>
                                                    <option value="finance">Finance</option>
                                                    <option value="management">Management</option>
                                                    <option value="economics">Economics</option>
                                                    <option value="accounting">Accounting</option>
                                                    <option value="entrepreneurship">Entrepreneurship</option>
                                                    <option value="human-resources">Human Resources</option>
                                                    <option value="supply-chain">Supply Chain Management</option>
                                                    <option value="statistics">Statistics</option>
                                                    <option value="operations">Operations Management</option>
                                                    <option value="international-business">International Business</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <input type="date" id="date" name="date" class="form-control"
                                                placeholder="Deadline">

                                        </div>
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <input type="tel" id="phone" name="phone" class="form-control"
                                                placeholder="eg. +44 731200****">

                                        </div>


                                    </div>

                                    <div class="row">
                                        <input type="file" id="file" class="form-control" name="file" multiple>
                                    </div>

                                    <div class="row">
                                        <textarea id="description" class="form-control" name="description" rows="5"
                                            placeholder="Write project description here"
                                            style="height: 200px !important;"></textarea>
                                    </div>

                                    <button type="submit">Submit Assignment</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->

    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">












            <div class="search-main">
                <div class="search-box-inner">
                    <div class="container">

                    </div>
                </div>
            </div>
            <div style="display:none;" id="modal-login" class="login-signup-popup popup twobox-width">
                <button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
                        <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                    </svg>
                </button>
            </div>
            <div class="grid-child container-component">
                <main>
                    <div class="com-content-category category-list">
                        <div>
                            <div class="content-category">
                                <div class="cat-children">
                                    <section class="sample_bannerbg">
                                        <div class="container">
                                            <article class="mid_area">
                                                <h1 class="sample_banner_heading">High-Quality <span>Samples</span>
                                                    Available for FREE Download</h1>
                                                <p class="sample_banner_pera">Go through the available samples to
                                                    prepare better for your assignments.</p>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="106" height="4"
                                                    viewBox="0 0 106 4">
                                                    <g transform="translate(-632.5 -964)">
                                                        <line x2="67.5" transform="translate(632.5 964.5)" fill="none"
                                                            stroke="#ffc410" stroke-width="1"></line>
                                                        <line x2="67.5" transform="translate(671 967.5)" fill="none"
                                                            stroke="#ffc410" stroke-width="1"></line>
                                                    </g>
                                                </svg>
                                            </article>
                                            <ul class="feature_sample">
                                                <li><i class="sprite expert_sm"></i> <span class="title">4500+
                                                        Experts</span> Online to Assist You 24*7</li>
                                                <li><i class="sprite guaranteed_sm"></i> <span class="title">A+
                                                        Grade</span> Guaranteed Top Quality</li>
                                                <li><i class="sprite turnitin_sm"></i> <span
                                                        class="free freeGBG green">Free</span> <span
                                                        class="title">Plagrism Report</span></li>
                                            </ul>
                                        </div>
                                    </section>
                                    <section class="breadcrumb  ">
                                        <div class="container" itemscope itemtype="https://schema.org/BreadcrumbList">
                                            <div class="breadcrumb-inner">
                                                <label itemprop="itemListElement" itemscope
                                                    itemtype="https://schema.org/ListItem"><a
                                                        href="https://www.assignmentprime.com/" itemprop="item"
                                                        class="home-link" aria-label="homelink"><i
                                                            class="sprite"></i><span class="arrow">›</span><span
                                                            itemprop="name" style="display:none;">Assignment
                                                            Prime</span></a>
                                                    <meta itemprop="position" content="1" />
                                                </label>
                                                <label itemprop="itemListElement" itemscope
                                                    itemtype="https://schema.org/ListItem"><span
                                                        itemprop="name">Samples</span>
                                                    <meta itemprop="position" content="2" />
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="sample_paper_subjects_all">
                                        <div class="container no_result_filter">
                                            <div style="display:none;text-align:center;">
                                                <img src="https://www.assignmentprime.com/templates/assignmentprime/images/no-result.png"
                                                    alt="No Result Found" width="482" height="272">
                                            </div>
                                            <div class="loader_html" style="display: none;"></div>
                                            <div class="sample_paper_subject_wrap sample_page_ajax">
                                                <br>
                                                <div class="boxs">
                                                    <ul class="course_btm_bdr filter_sample_search">
                                                        <li id="cat_25" class="li_comman"><a href="/pdf/1.pdf"
                                                                class="comman_a_tag">Business Analysis of Speciality
                                                                Fashion Group</a></li>
                                                        <li id="cat_26" class="li_comman"><a href="/pdf/2.pdf"
                                                                class="comman_a_tag">The Coffeeville Case Study Review
                                                                and Analysis</a></li>
                                                        <li id="cat_29" class="li_comman"><a href="/pdf/3.pdf"
                                                                class="comman_a_tag">Professional Studies on Nursing</a>
                                                        </li>
                                                        <li id="cat_29" class="li_comman"><a href="/pdf/4.pdf"
                                                                class="comman_a_tag">Nursing Management System</a></li>
                                                        <li id="cat_30" class="li_comman"><a href="/pdf/5.pdf"
                                                                class="comman_a_tag">Chronic Heart Failure</a></li>

                                                        <li id="cat_31" class="li_comman"><a href="/pdf/6.pdf"
                                                                class="comman_a_tag">Security Of Energy Supply</a></li>
                                                        <li id="cat_32" class="li_comman"><a href="/pdf/7.pdf"
                                                                class="comman_a_tag">Human Computer Interaction</a></li>
                                                        <li id="cat_33" class="li_comman"><a href="/pdf/8.pdf"
                                                                class="comman_a_tag">A Study on Internet Marketing</a>
                                                        </li>
                                                        <li id="cat_34" class="li_comman"><a href="/pdf/9.pdf"
                                                                class="comman_a_tag">Role of Digital
                                                                Marketing<span>4</span></a></li>
                                                        <li id="cat_35" class="li_comman"><a href="/pdf/10.pdf"
                                                                class="comman_a_tag">Object Oriented Programming
                                                                Sample</a></li>
                                                        <li id="cat_36" class="li_comman"><a href="/pdf/11.pdf"
                                                                class="comman_a_tag">Importance of Research Skills -
                                                                Find Depth Data or Detailed Analysis</a></li>
                                                        <li id="cat_37" class="li_comman"><a href="/pdf/12.pdf"
                                                                class="comman_a_tag">Significance of E-commerce and its
                                                                Impact on Customer Satisfaction - Morrison Case
                                                                Study</a></li>
                                                        <li id="cat_38" class="li_comman"><a href="/pdf/13.pdf"
                                                                class="comman_a_tag">Problem Regarding Employees
                                                                Turnover within the Public Sector</a></li>
                                                        <li id="cat_39" class="li_comman"><a href="/pdf/14.pdf"
                                                                class="comman_a_tag">Research Proposal University of
                                                                Derby</a></li>
                                                        <li id="cat_40" class="li_comman"><a href="/pdf/15.pdf"
                                                                class="comman_a_tag">Research Proposal Unit : 4 Level 5
                                                                Uk CBC
                                                                college</a></li>
                                                        <li id="cat_41" class="li_comman"><a href="/pdf/16.pdf"
                                                                class="comman_a_tag">Importance of Research Skills -
                                                                Find Depth
                                                                Data or Detailed Analysis</a></li>

                                                        <li id="cat_42" class="li_comman"><a href="/pdf/17.pdf"
                                                                class="comman_a_tag">Literature Review On Improving The
                                                                Efficiency</a></li>
                                                        <li id="cat_43" class="li_comman"><a href="/pdf/18.pdf"
                                                                class="comman_a_tag">Boosting Smart Home Device Security
                                                                Protocol</a></li>
                                                        <li id="cat_44" class="li_comman"><a href="/pdf/19.pdf"
                                                                class="comman_a_tag">The Business Case for Investing in
                                                                EHR within a
                                                                Doctor’s Practice</li>
                                                        <li id="cat_45" class="li_comman"><a href="/pdf/20.pdf"
                                                                class="comman_a_tag">Online Grocery Delivery App</a>
                                                        </li>
                                                        <li id="cat_46" class="li_comman"><a href="/pdf/21.pdf"
                                                                class="comman_a_tag">Information Security Literature
                                                                Review</li>
                                                        <li id="cat_47" class="li_comman"><a href="/pdf/22.pdf"
                                                                class="comman_a_tag">Information Technology Issues in
                                                                electronic healthcare records</a></li>
                                                        <li id="cat_52" class="li_comman"><a href="/pdf/23.pdf"
                                                                class="comman_a_tag">Cyber Security Assignment</a></li>
                                                        <li id="cat_53" class="li_comman"><a href="/pdf/24.pdf"
                                                                class="comman_a_tag">Computing the Shortest Path Using
                                                                Modified Dijkstra’s Algorithm</a></li>
                                                        <li id="cat_172" class="li_comman"><a href="/pdf/25.pdf"
                                                                class="comman_a_tag">Literature Review: Contributing
                                                                Part of Cryptocurrency like Bitcoin</a></li>
                                                        <li id="cat_172" class="li_comman"><a href="/pdf/26.pdf"
                                                                class="comman_a_tag">Information Management System
                                                                Assignment UK Schools Data Security</a></li>
                                                        <li id="cat_172" class="li_comman"><a href="/pdf/27.pdf"
                                                                class="comman_a_tag">Marketing and Communications :
                                                                Samsung Galaxy S8</a></li>
                                                        <li id="cat_172" class="li_comman"><a href="/pdf/28.pdf"
                                                                class="comman_a_tag">Emerging Technologies Ease the
                                                                Marketing
                                                                Channel for Hospitality Industry</a></li>
                                                    </ul>
                                                </div>
                                            </div>












                                        </div>

                                </div>
    </section>
    <!-- ##### Listing Content Wrapper Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay"
        style="background-image: url(img/bg-img/cta.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>About Us</h6>
                            </div>

                            <div class="footer-logo my-4">
                                <img src="/img/logo.png" alt="" width="150px">
                            </div>
                            <p>Integer nec bibendum lacus. Suspen disse dictum enim sit amet libero males uada feugiat.
                                Praesent malesuada.</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>Contact</h6>
                            </div>
                            <!-- Address -->
                            <div class="address">
                                <h6><img src="img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                                <h6><img src="img/icons/envelope.png" alt=""> office@template.com</h6>
                                <h6><img src="img/icons/location.png" alt=""> Main Str. no 45-46, b3, 56832, Los
                                    Angeles, CA</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>Useful Links</h6>
                            </div>
                            <!-- Nav -->
                            <ul class="useful-links-nav d-flex align-items-center">
                                <li><a href="/samples">Samples</a></li>
                            </ul>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>

        <!-- Copywrite Text -->
        <div class="copywrite-text d-flex align-items-center justify-content-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved by
                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://writeyourpaper.website"
                    target="_blank">Write Your Paper</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>